header {
	background-color: #440000;
	color: #FFFFFF;
	margin: -16px -8px -8px -8px;
}

nav a {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: normal;
	text-decoration-line: none;
	background-color: #222222;
	color: #DDDDDD;
	border-radius: 12px;
	margin: 32px;
	padding: 8px;
}

nav {
	padding: 16px;
	background-image: url(GrayGradient.png);
	background-size: 100%;
}

h1 {
	font-size: 64px;
	margin: 16px;
}

h2 {
	font-size: 48px;
	margin: 4px;
}

h3 {
	font-size: 24px;
	color: #DDDDDD;
	margin: -16px 0px 8px 64px;
}

.section {
	font-family: "Times New Roman", Times, serif;
	background-color: #EEEEEE;
	color: #111111;
	margin: 32px;
	padding: 8px;
	overflow: auto;
}

.section * {
	width: 49%;
}

.right_subsection {
	float: right;
	display: flex;
    flex-direction: column;
    align-items: center;
	background-color: #440000;
	color: #EEEEEE;
	align-items: center;
	overflow: auto;
}

.right_subsection * {
	margin: 16px;
	width: 95%;
	overflow: auto;
	align-items: center;
}

#facebook_img {
	width: 10%;
}

#dailyVersesWrapper {
	font-family: "Lucida Handwriting", cursive;
	font-size: 48px;
	margin-left: 32px;
	width: 200%;
}

#google_maps {
	float: right;
	font-family: "Times New Roman", Times, serif;
	border-radius: 12px;
	padding: 8px;
	width: 35%;
}

#google_maps img {
	margin-bottom: -5px;
	margin-left: 0px;
	height: 7%;
	width: 7%;
}

#google_maps * {
	width: 95%;
	font-size: 36px;
	font-style: normal;
	text-decoration-line: none;
	color: #DDDDDD;
	text-align: center;
	align: center;
}

h4 {
	font-size: 24px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.section label,
.section input[type="radio"] {
    width: auto;
    display: inline-block;
}

.section label {
    margin-left: 6px;
}

.section input[type="radio"] {
    margin-right: 2px;
    vertical-align: middle;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

body {
	background-image: url(RedGradient.jpg);
	background-size: cover;
	color: #ffffff;
}

footer {
	kont-size: 18px;
	background-color: #440000;
	margin: -16px -8px -8px -8px;
	padding: 16px;
}
