header {
	background-color: #440000;
	color: #ffffff;
	margin: -16px -8px -8px -8px;
}

nav a {
	font-family: 'Segoe UI', sans-serif;
	font-size: 32px;
	font-style: normal;
	text-decoration-line: none;
	background-color: #222222;
	color: #DDDDDD;
	border-radius: 25px;
	margin: 32px;
	padding: 8px;
}

nav {
	padding: 16px;
	background-image: url(GrayGradient.png);
	background-size: 100%;
}

h1 {
	margin: 16px;
	font-size: 64px;
}

h2 {
	font-size: 32px;
}

.section {
	font-family: 'Segoe UI', sans-serif;
	background-color: #EEEEEE;
	color: #111111;
	margin: 32px;
	padding: 8px;
}

.section img {
	width: 50%;
	align: left;
}

body {
	background-image: url(RedGradient.jpg);
	background-size: 100%;
	color: #ffffff;
}
