header {
	background-color: #440000;
	color: #ffffff;
	margin: -16px -8px -8px -8px;
}

nav a {
	font-family: 'Segoe UI', sans-serif;
	font-size: 32px;
	font-style: normal;
	text-decoration-line: none;
	background-color: #222222;
	color: #999999;
	border-radius: 25px;
	margin: 32px;
	padding: 8px;
}

nav {
	padding: 16px;
}

h1 {
	margin: 16px;
	font-size: 64px;
}

h2 {
	font-family: 'Segoe UI', sans-serif;
}

body {
	background-color: #990000;
	color: #ffffff;
}
